body
{
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 10em;
}

.row-element {
  padding: .2em .2em;
  max-width: 300px;
}

.qrscanner {
  max-width: 50%;
  max-height: 50%;
}

.status {
  height: 100px;
}