body
{
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 30em;
}

.row-element {
  padding: .2em 0em;
}

.qrscanner {
  max-width: 95%;
  max-height: 75%;
}