body
{
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  max-width: 10em;
}

.row-element {
  padding: .2em 0em;
}

.qrscanner {
  max-width: 50%;
  max-height: 50%;
}