<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../static/js/JsQRScanner/jsqrscanner.nocache.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="row">
        <h2>Live QRCODE Reader Test</h2>
        <div class="row-element">
            <div id="scannerStaus" class="status"></div>
        </div>
        <div class="row-element">
            <div id="scanner" class="qrscanner"></div>
        </div>
        <h4>Detect Data</h4>
        <textarea id="scannedTextMemo" rows="3" readonly></textarea>
        <h4>Log</h4>
        <textarea id="log" rows="10" readonly></textarea>
    </div>
    <div>
        <h2>Send QRCODE Image to Server Test</h2>
        <video id="player" controls autoplay></video>
        <button id="capture">Capture</button>
        <canvas id="snapshot" width=320 height=240></canvas>
    </div>

<script type="text/javascript">

    let jbScanner;
    let scannerStaus = document.getElementById("scannerStaus");
    let scannerParentElement = document.getElementById("scanner");
    let scannedTextMemo = document.getElementById("scannedTextMemo");
    let camSwitch = document.getElementById("cam_switch");
    let log = document.getElementById("log");

    function httpPostAsync(theUrl,data, callback) {
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.onreadystatechange = function() {
              if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                  callback(xmlHttp.responseText);
          }
          xmlHttp.open("POST", theUrl, true); // true for asynchronous
          xmlHttp.send(data);
      }

    function addlog(data){
        log.value = data + "\n" + log.value;
    }

    function onQRCodeScanned(scannedText)

    {
    	
    	if(scannedTextMemo)
    	{
            scannedTextMemo.value = scannedText;
            addlog("detected data: " + scannedText);
    	}
    }

    function provideVideo()
    {
        var n = navigator;

        if (n.mediaDevices && n.mediaDevices.getUserMedia)
        {
          return n.mediaDevices.getUserMedia({
            video: {
              facingMode: "environment"
            },
            audio: false
          });
        } 
        
        return Promise.reject('Your browser does not support getUserMedia');
    }
    
    //funtion returning a promise with a video stream
    function provideVideoQQ()
    {

        return navigator.mediaDevices.enumerateDevices()
        .then(function(devices) {
            var exCameras = [];
            devices.forEach(function(device) {
            if (device.kind === 'videoinput') {
              exCameras.push(device.deviceId)
            }
         });
            
            return Promise.resolve(exCameras);
        }).then(function(ids){
            addlog("cam number: " + ids.length)
            addlog("cam switch checked: " + camSwitch.checked)
            if(ids.length === 0)
            {
              return Promise.reject('Could not find a webcam');
            }


            ids.forEach((value,idx)=>{
                addlog("cam id " + idx + ": " + value);
            })
            
            return navigator.mediaDevices.getUserMedia(
                  
            {
                video: {
                  'optional': [{
                    'sourceId': ids.length === 1 ? ids[0] : (camSwitch.checked?ids[1]:ids[0])//this way QQ browser opens the rear camera
                    }]
                }
            });        
        });                
    } 

    function initJsQRScanner(){
        //create a new scanner passing to it a callback function that will be invoked when
        //the scanner succesfully scan a QR code
        jbScanner = new JsQRScanner(onQRCodeScanned);
        //reduce the size of analyzed images to increase performance on mobile devices
        jbScanner.setSnapImageMaxSize(3000);
        jbScanner.setScanInterval(250);
    	if(scannerParentElement)
    	{
    	    //append the jbScanner to an existing DOM element
    		jbScanner.appendTo(scannerParentElement);
    	}  
    }
  
    //this function will be called when JsQRScanner is ready to use
    function JsQRScannerReady()
    {
        initJsQRScanner();        
    }

    var monitor = setInterval(poolParas,1000);

    function poolParas(){
        console.log("monotoring")
        try{
            let jsActive = jbScanner.isActive();
            let jsScanInterval = jbScanner.getScanInterval();
            let jsMaxSize = jbScanner.getSnapImageMaxSize();
            scannerStaus.innerHTML = `
            scanner is active? ${jsActive}; \n
            scanner scan interval? ${jsScanInterval}; \n
            scanner camera size? ${jsMaxSize};
            `

        }catch{
            scannerStaus.innerHTML = "Monitoring failed"

        }
    }

    // test for send image to server
    var player = document.getElementById('player'); 
    var snapshotCanvas = document.getElementById('snapshot');
    var captureButton = document.getElementById('capture');

    var handleSuccess = function(stream) {
        // Attach the video stream to the video element and autoplay.
        player.srcObject = stream;
    };

    captureButton.addEventListener('click', function() {
        var context = snapshot.getContext('2d');
        // Draw the video frame to the canvas.
        context.drawImage(player, 0, 0, snapshotCanvas.width, 
            snapshotCanvas.height);
        var dataURL = canvas.toDataURL();
        var jsondata = {imgBase64: dataURL};
        httpPostAsync("https://kt-game.herokuapp.com/detect", JSON.stringify(jsondata), onQRCodeScanned);
    });

    navigator.mediaDevices.getUserMedia({video: true})
        .then(handleSuccess);


  </script>



</body>
</html>