<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../static/js/JsQRScanner/jsqrscanner.nocache.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="row">
        <h2>QRCODE Test</h2>
        <div>
            <label class="switch">
                <input id='cam_switch' type="checkbox" onclick="changeCam()" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="row-element">
            <div id="scanner" class="qrscanner"></div>
        </div>
        <h4>Detect Data</h4>
        <textarea id="scannedTextMemo" rows="3" readonly></textarea>
    </div>
    
    <script type="text/javascript">
        
      let remoteHost = "https://hsiao-flask-test.herokuapp.com";
      let localHost = "http://127.0.0.1:5000"
      let isProd = true;
      let baseUrl = isProd?remoteHost:localHost;

      function httpGetAsync(theUrl, callback) {
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.onreadystatechange = function() {
              if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                  callback(xmlHttp.responseText);
          }
          xmlHttp.open("GET", theUrl, true); // true for asynchronous
          xmlHttp.send(null);
      }
  
  </script>


<script type="text/javascript">

    var jbScanner;
    var scannerParentElement = document.getElementById("scanner");
    var scannedTextMemo = document.getElementById("scannedTextMemo");
    let camSwitch = document.getElementById("cam_switch");

    function onQRCodeScanned(scannedText)
    {
    	
    	if(scannedTextMemo)
    	{
    		scannedTextMemo.value = scannedText;
    	}
    }

    function provideVideo()
    {
        var n = navigator;

        if (n.mediaDevices && n.mediaDevices.getUserMedia)
        {
          return n.mediaDevices.getUserMedia({
            video: {
              facingMode: "environment"
            },
            audio: false
          });
        } 
        
        return Promise.reject('Your browser does not support getUserMedia');
    }
    
    //funtion returning a promise with a video stream
    function provideVideoQQ()
    {

        return navigator.mediaDevices.enumerateDevices()
        .then(function(devices) {
            var exCameras = [];
            devices.forEach(function(device) {
            if (device.kind === 'videoinput') {
              exCameras.push(device.deviceId)
            }
         });
            
            return Promise.resolve(exCameras);
        }).then(function(ids){
            if(ids.length === 0)
            {
              return Promise.reject('Could not find a webcam');
            }
            
            return navigator.mediaDevices.getUserMedia({
                video: {
                  'optional': [{
                    'sourceId': ids.length === 1 ? ids[0] : (camSwitch.checked?ids[0]:ids[1])//this way QQ browser opens the rear camera
                    }]
                }
            });        
        });                
    } 

    function initJsQRScanner(){
        //create a new scanner passing to it a callback function that will be invoked when
        //the scanner succesfully scan a QR code
        jbScanner = new JsQRScanner(onQRCodeScanned, provideVideoQQ);
        //reduce the size of analyzed images to increase performance on mobile devices
        jbScanner.setSnapImageMaxSize(1024);
        jbScanner.setScanInterval(250);
    	if(scannerParentElement)
    	{
    	    //append the jbScanner to an existing DOM element
    		jbScanner.appendTo(scannerParentElement);
    	}  
    }
  
    //this function will be called when JsQRScanner is ready to use
    function JsQRScannerReady()
    {
        initJsQRScanner();        
    }

    function changeCam(){
        
        try{
            jbScanner.stopScanning();
            jbScanner.removeFrom(scannerParentElement);
            initJsQRScanner();
        }catch{
        }
    }

  </script>

</body>
</html>